* text=auto eol=lf

# Optional: Windows-specific scripts
*.bat text eol=crlf
*.cmd text eol=crlf

*.js     text eol=lf
*.jsx    text eol=lf
*.ts     text eol=lf
*.tsx    text eol=lf
*.json   text eol=lf
*.yml    text eol=lf
*.yaml   text eol=lf
*.md     text eol=lf
*.sh     text eol=lf
*.html   text eol=lf

# Common binaries
*.png  -text
*.jpg  -text
*.zip  -text
*.onnx -text
*.pt   -text
